.catalog
    &__filter
        &-wrap
            border-radius: 24px
            padding: 24px
            background: $slate50
            display: grid
            grid-template: auto / repeat(3, 1fr)
            gap: 48px
            .form-label
                margin: 0
            .checkboxes
                display: flex
                align-items: flex-start
                flex-wrap: wrap
                gap: 12px 24px
            .input-row
                display: grid
                grid-template: auto / 1fr 1fr
                gap: 8px
            .btns 
                display: flex
                align-items: center
                gap: 8px
                margin-top: auto
                .btn 
                    width: 100%
    &__product
        &-top
            max-width: 1143px
            .article
                display: block
                margin-top: 8px
        &-tabs
            margin-top: 48px
            &-content
                border: 1px solid $slate300
                border-radius: 12px
                padding: 24px
                background: $white
                max-width: 1138px
                display: none
                h1, h2, h3, h4, h5, h6
                    color: $colorDark
                &.active
                    display: block
            &-names
                display: flex
                align-items: center
                flex-wrap: wrap
                gap: 20px
                border-radius: 16px
                padding: 4px
                background: $slate50
                margin-bottom: 32px
                width: fit-content
                span
                    border-radius: 12px
                    padding: 16px 128px
                    color: $colorDark
                    transition: 0.4s all
                    cursor: pointer
                    &:hover, &.active
                        color: $color
                    &.active
                        background: $colorLight
                        color: $white
        &-order 
            background: $slate50
            border-radius: 12px
            padding: 24px
            height: fit-content
            .list
                margin-top: 32px
                span 
                    display: flex
                    align-items: center
                    margin-bottom: 16px
                    gap: 8px
                    img 
                        width: 24px
                        min-width: 24px
                    &:last-child
                        margin-bottom: 0 !important
            .price
                margin-bottom: 32px
                display: flex
                align-items: center
                gap: 8px
            .one-click
                margin-top: 32px
                width: 100%
            .btns
                display: flex
                align-items: center
                gap: 8px
                .counter
                    display: flex
                    align-items: center
                    cursor: default
                    border-radius: 12px
                    overflow: hidden
                    background: $white
                    border: 1px solid $slate300
                    .num, .decrease, .increase
                        height: 56px
                    .num
                        min-width: 60px
                        text-align: center
                        color: $slate400
                        padding: 6px
                        display: flex
                        align-items: center
                        justify-content: center
                    .decrease, .increase
                        position: relative
                        width: 60px
                        min-width: 60px
                        display: flex
                        align-items: center
                        justify-content: center
                        cursor: pointer
                        &::before, &::after
                            content: ''
                            width: 18px
                            height: 2px
                            background: #99a1af
                            transition: 0.4s background
                            position: absolute
                        &::after 
                            transform: rotate(90deg)
                        &:hover
                            &::before, &::after
                                background: $color
                    .decrease
                        &::after 
                            display: none
                .btn 
                    flex: 1
        &-info 
            display: grid
            grid-template: auto / repeat(3, 1fr)
            gap: 24px
        &-params 
            .params
                margin-top: 16px
                &-item 
                    display: flex
                    gap: 24px
                    padding: 8px 0px
                    border-bottom: 1px solid $slate300
                    span
                        width: 100%
                        &:first-child
                            color: $colorDark
            .count 
                display: block
                margin-top: 24px
        &-image
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            aspect-ratio: 1
            height: fit-content
            img
                width: 100%
                height: 100%
    &__sub
        &-list 
            display: flex
            align-items: center
            flex-wrap: wrap
            gap: 8px
            a 
                display: flex
                padding: 16px 24px
                background: $sky50
                color: $color
                border-radius: 50px
                &:hover, &.active
                    background: $sky200
    &__list
        &-sort
            position: relative
            width: fit-content
            margin-bottom: 32px
            .list
                position: absolute
                left: 0
                top: calc(100% + 8px)
                z-index: 5
                box-shadow: 0 6px 5px -3px rgba(0, 0, 0, 0.2)
                width: fit-content
                max-width: unset
                padding: 8px
                border-radius: 12px
                padding: 8px 12px
                border: 1px solid $slate300
                background: $white
                min-width: 300px
                opacity: 0
                visibility: hidden
                transition: 0.4s all
                &.active
                    opacity: 1
                    visibility: visible
                span 
                    display: flex
                    align-items: center
                    justify-content: space-between
                    gap: 8px
                    cursor: pointer
                    padding: 6px 8px
                    transition: 0.4s background
                    &::after
                        content: ''
                        width: 16px
                        height: 16px
                        min-width: 16px
                        background: url('../images/icons/check.svg') center center/contain no-repeat
                        opacity: 0
                        transition: 0.4s opacity
                    &:hover, &.active
                        background: $slate100
                    &.active
                        &::after
                            opacity: 1
            .name 
                display: flex
                align-items: center
                justify-content: space-between
                border-radius: 12px
                padding: 8px 12px
                border: 1px solid $slate300
                transition: 0.4s border
                gap: 8px
                width: fit-content
                min-width: 205px
                cursor: pointer
                & > *
                    pointer-events: none
                img 
                    width: 16px
                    min-width: 16px
                    transform: rotate(90deg)
                    transition: 0.4s transform
                &:hover, &.active
                    border: 1px solid $color
                &.active
                    img 
                        transform: rotate(-90deg)
        &-items
            display: grid
            grid-template: auto / repeat(4, 1fr)
            gap: 24px
            .home__products
                &-item 
                    width: 100%
                    max-width: 100%