*
    box-sizing: border-box
    margin: 0
    padding: 0
    -webkit-text-size-adjust: none
    &::-webkit-scrollbar
        width: 8px
        height: 5px
    &::-webkit-scrollbar-track
        background: $white
    &::-webkit-scrollbar-thumb 
        background-color: $color
body
    color: $black
    min-height: 100vh
    display: flex
    flex-direction: column
    font-family: 'Hauora', sans-serif
    font-weight: 600
    line-height: 1.5
    font-size: 18px
a 
    color: inherit
    text-decoration: none
    transition: 0.3s all
    &:not(.no-hover)
        &:hover, &.active
            color: $color
strong 
    font-weight: 700
html, body 
    &.fixed
        overflow: hidden
.page-wrap
    overflow: hidden
    display: flex
    flex-direction: column
    flex: 1
footer
    margin-top: auto
main 
    position: relative
    flex: 1
img, svg 
    max-width: 100%
    max-height: 100%
    width: auto
    height: auto
    object-fit: contain
picture
    display: flex
.container
    position: relative
    margin: 0 auto
    width: 100%
    max-width: 1920px
    padding-right: 100px
    padding-left: 100px
.img
    &_bg
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        z-index: 0
        pointer-events: none
h1, h2, h3, h4, h5, h6
    font-weight: 600
    line-height: 1.2
    color: $black
h1
    word-break: break-word
    margin: 0
    font-size: 48px
h2
    font-size: 48px
h3, h4
    font-size: 24px
h5 
    font-size: 18px
h6
    font-size: 16px
.default-text
    h2, h3, h4, h5, h6, p, table, ul, ol
        &:last-child
            margin-bottom: 0 !important
        &:first-child
            margin-top: 0 !important
    h2
        margin-top: 48px
        margin-bottom: 24px
    h3, h4, h5, h6
        margin-top: 24px
        margin-bottom: 24px
    p, img 
        margin: 24px 0px
    img 
        margin-left: auto
        margin-right: auto
        display: block
    table
        border-collapse: collapse
        width: 100%
        max-width: 100%
        margin: 24px 0px
        td 
            border: 1px solid $black
            padding: 10px
    ol, ul 
        margin: 24px 0px
        padding-left: 1em
        &.ul-images
            padding: 0 !important
            list-style-type: none
            & > li 
                display: flex
                align-items: flex-start
                gap: 8px
                margin-bottom: 8px
                &:last-child
                    margin-bottom: 0 !important
                img 
                    width: 24px
                    min-width: 24px
                    margin: 0 !important
    a 
        text-decoration: underline
.text_white
    table
        td 
            border: 1px solid $white
    h1, h2, h3, h4, h5, h6
        color: $white
.text 
    &_normal
        font-style: normal
    &_italic
        font-style: italic
    &_center
        text-align: center
    &_right 
        text-align: right
    &_black
        color: $black
    &_white
        color: $white
    &_color 
        color: $color
        &-light
            color: $colorLight
        &-dark 
            color: $colorDark
    &_red
        color: $red
    &_underline
        text-decoration: underline
    &_upper 
        text-transform: uppercase
    &_nowrap
        white-space: nowrap
    &_lbreak
        word-break: break-word
    &_lt
        text-decoration: line-through
    &_fw 
        &100
            font-weight: 100
        &200
            font-weight: 200
        &300
            font-weight: 300
        &400
            font-weight: 400
        &500
            font-weight: 500
        &600
            font-weight: 600
        &700
            font-weight: 700
        &800
            font-weight: 800
        &900
            font-weight: 900
    &_fz 
        &12
            font-size: 12px
        &14
            font-size: 14px
        &16
            font-size: 16px
        &18
            font-size: 18px
        &24
            font-size: 24px
        &40
            font-size: 40px
            line-height: 1.2
        &48
            font-size: 48px
            line-height: 1.2
        &90
            font-size: 90px
            line-height: 1.1
        &100
            font-size: 100px
            line-height: 1.1
.fancybox__content
    padding: 0 !important
    .framed-video
        width: 900px
        height: auto
        max-width: 94vw
        aspect-ratio: 1.77778 / 1
.slider
    &-list
        user-select: none
        touch-action: pan-y
        -webkit-tap-highlight-color: transparent
        cursor: grab
        max-width: 100%
        overflow: hidden
        &.grabbing
            cursor: grabbing
    &-track 
        transition: transform 0.5s ease 0s
        display: flex
        width: fit-content
        &.fast 
            transition: none
            pointer-events: none
    &-arrows
        display: flex
        align-items: center
        gap: 8px 
        &-item
            width: 60px
            min-width: 60px
            height: 60px
            background: $white
            border-radius: 100%
            border: 1px solid $slate300
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            transition: 0.4s all
            img 
                width: 24px
            &.left 
                img 
                    transform: rotate(180deg)
            &:hover, &.active
                border: 1px solid $color
.simple-link
    display: flex
    align-items: center
    gap: 8px
    color: $color
    font-weight: 700
    width: fit-content
    span 
        position: relative
        transition: 0.4s all
        border-bottom: 1.5px solid transparent
    img 
        width: 24px
        min-width: 24px
    &:hover, &.active
        span
            border-bottom: 1.5px solid $color
.btn 
    position: relative
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    gap: 8px
    background: $colorLight
    border: none
    outline: none
    cursor: pointer
    padding: 16px 20px
    border-radius: 12px
    font-weight: 700
    color: $white !important
    transition: 0.4s all
    width: fit-content
    line-height: 1.5
    & > *
        pointer-events: none
    span 
        position: relative
    img
        width: 24px
        min-width: 24px
        filter: brightness(0) invert(1)
    &:hover, &.active
        background: $color
    &.light
        background: $sky100
        color: $color !important
        img
            filter: none
        &:hover, &.active
            background: $sky200
    &.white
        background: $white
        color: $color !important
        border: 1.5px solid $slate300
        img
            filter: none
        &:hover, &.active
            border: 1.5px solid $color
    &.red 
        background: $red
        &:hover, &.active
            background: #c10007
    &.small 
        padding: 8px 12px
    &.disable 
        border: none !important
        color: $black !important
        background: rgba(0, 0, 0, 0.1) !important
        opacity: 0.3
        pointer-events: none
        user-select: none
        img
            filter: brightness(0) !important
    &.on-bottom
        margin: 50px auto 0
.form
    width: 100%
    &-head 
        padding: 32px
        padding-right: 64px
        background: $sky100
    &-body 
        padding: 32px
    &-block, &-row, &-label
        &:last-child
            margin-bottom: 0 !important
    &-block 
        margin-bottom: 32px
    &-row, &-label 
        margin-bottom: 24px
    &-row 
        display: grid
        grid-template: auto / 1fr 1fr 
        gap: 24px
        .form-label 
            margin: 0 !important
    &-label 
        display: block
        & > span 
            display: block
            margin-bottom: 8px
        input, textarea 
            width: 100%
            background: $white
            border: 1px solid $slate300
            border-radius: 12px
            padding: 16px
            outline-color: $color
            line-height: 1.5
        textarea
            resize: vertical
            height: 150px
    .checkboxes
        &-item 
            margin-bottom: 16px
            &:last-child
                margin-bottom: 0 !important
.checkboxes
    &-item 
        display: flex
        align-items: flex-start
        gap: 8px
        position: relative
        cursor: pointer
        input
            position: absolute
            left: 0
            top: 0
            pointer-events: none
            opacity: 0
            width: 24px
            height: 24px
        .box 
            width: 24px
            height: 24px
            min-width: 24px
            position: relative
            &::before, &::after
                content: ''
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
            &::before
                background: url('../images/icons/checkbox.svg') center center/contain no-repeat
            &::after
                background: url('../images/icons/checkbox-active.svg') center center/contain no-repeat
                display: none
        &.active
            .box 
                &::before
                    display: none
                &::after 
                    display: block